body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
}

#header {
    background-color: rgba(128, 0, 128, 0.5);
    height: 100px;

    position: fixed;
    top: 0;
    width: 100%;
}

#header h1, #header h4 {
    color: blue;
    margin-bottom: 0;
    margin-top: 0;
}

#header h1 {
    text-align: center;
    padding-bottom: 1rem;
}

#header h4 {
    text-align: right;
    font-style: italic;
    padding: 0;
    padding-right: 15px;
    padding-top: 15px;
}

#nav-menu ul {
    list-style-type: none;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    text-align: center;
}

#nav-menu a {
    background-color: rgba(128, 0, 128, 0.33);
    display: block;
    font-size: 24px;
    height: 40px;
    text-decoration: none;
}

#main-content {
    background-image: url("stars.png");
    background-repeat: repeat;
    color: white;
    float: left;
    padding-left: 5%;
    padding-top: 20px;
    width: 70%;
}

.hobbies {
    list-style-type: square;
}

img {
    float: right;
    margin-right: 10%;
    opacity: 0.75;
    width: 33%;
}

li::first-letter {
    font-size: 2rem;
    color: mediumspringgreen;
}

.sports {
    text-align: justify;
    text-justify: inter-word;
    width: 50%;
}

form input {
    margin: 10px;
}

form input[type="text"] {
    margin-left: 30px;
}

.hidden {
    visibility: hidden;
}

table {
    border-width: 5px;
    border-color: purple;
    border-style: ridge;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 50%;
}

th {
    text-align: center;
}

td {
    padding: 8px;
    vertical-align: middle;
}

tr.dune td {
    border-left: 6px solid gold;
    background-color: rgba(255, 215, 0, 0.25);
}

tr.project-hail-mary td {
    border-left: 6px solid darkturquoise;
    background-color: rgba(0, 206, 209, 0.25);
}

tr.time-of-contempt td {
    border-left: 6px solid saddlebrown;
    background-color: rgba(139, 69, 19, 0.25);
}

tr.life-the-universe-and-everything td {
    border-left: 6px solid hotpink;
    background-color: rgba(255, 105, 180, 0.25);
}

#side-content {
    float: right;
    margin-right: 3%;
    width: 20%;
}

dt {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}

dd {
    display: none;
}

a:link {
    color: hotpink;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: black;
}

#contact-form-error {
    color: red;
}

button {
    background-color: rgba(255, 215, 0, 0.5);
    border: 3px solid saddlebrown;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 10px;
    padding: 10px;
}

#footer {
    clear: both;
    background-color: skyblue;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    padding: 10px;
}